/* Шапка сайта */
body {
  font-family: roboto, sans-serif;
  color: #212121;
}
.header {
  background-color: #ffffff;
}
.header-nav-logo,
.footer-link {
  font-family: Raleway;
  font-weight: 700;
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;
  text-decoration: none;
}
.header-nav a {
  color: #212121;
}
.header-list a {
  color: #757575;
}
.logo {
  color: #2196f3;
}
.link:hover {
  color: #2196f3;
}
.link:focus {
  color: #2196f3;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
/* Секция герой */
.hero {
  background-color: #2f303a;
}
.hero-title {
  color: #ffffff;

  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
}
.hero-button {
  background-color: #2196f3;
  color: #ffffff;

  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
}
/* преимущество*/
.advantage {
  background-color: #e5e5e5;
}
.advantage-subtitle {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.advantage-text {
  color: #757575;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
/* чем занимаемся */
.working {
  background-color: #e5e5e5;
}
.working-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
}
/* команда */
.team {
  background-color: #f5f4fa;
}
.team-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-subtitle {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
.team-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #757575;
}
.team-item {
  background-color: #ffffff;
}
